In [2]:
import pandas as pd

In [31]:
tp_cols = ["siape", "nome", "formacao", "tipo_jornada_trabalho", "vinculo", "id_unidade_lotacao", "lotacao", "admissao"]

tp_df = pd.read_csv("./perfis/docentes.csv", sep=";")
tp_df = tp_df[tp_cols]

tp_df.head()

,siape,nome,formacao,tipo_jornada_trabalho,vinculo,id_unidade_lotacao,lotacao,admissao
0,1543339,ADELE GUIMARAES UBARANA SANTOS,MESTRADO,Dedicação exclusiva,Ativo Permanente,1452,NÚCLEO DE EDUCAÇÃO DA INFÂNCIA,2006/07/24 00:00:00.000000000
1,1554468,AFRANIO CESAR DE ARAUJO,DOUTORADO,Dedicação exclusiva,Ativo Permanente,351,ESCOLA AGRÍCOLA DE JUNDIAÍ,2008/09/12 00:00:00.000000000
2,1177821,AIRTON FERNANDES GUIMARAES FILHO,MESTRADO,Dedicação exclusiva,Ativo Permanente,284,ESCOLA DE MÚSICA,1998/04/28 00:00:00.000000000
3,2360824,ALDAIR RODRIGUES DA SILVA,MESTRADO,Dedicação exclusiva,Ativo Permanente,351,ESCOLA AGRÍCOLA DE JUNDIAÍ,2017/01/25 00:00:00.000000000
4,2364334,ALESSANDRA MENDES PACHECO,DOUTORADO,Dedicação exclusiva,Ativo Permanente,351,ESCOLA AGRÍCOLA DE JUNDIAÍ,2009/10/13 00:00:00.000000000

In [32]:
tp_df.dtypes

siape                     int64
nome                     object
formacao                 object
tipo_jornada_trabalho    object
vinculo                  object
id_unidade_lotacao        int64
lotacao                  object
admissao                 object
dtype: object

In [ ]:
tp_df.describe()

In [33]:
tp_df.describe(include=["object"])

,nome,formacao,tipo_jornada_trabalho,vinculo,lotacao,admissao
count,2770,2770,2770,2770,2770,2770
unique,2767,6,3,10,135,1400
top,MARCEL ALVES FRANCO,DOUTORADO,Dedicação exclusiva,Ativo Permanente,ESCOLA AGRÍCOLA DE JUNDIAÍ,2009/01/27 00:00:00.000000000
freq,2,2203,2171,2376,120,80