In [88]:
import numpy as np
import pandas as pd
import xgboost as xgb

In [89]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import balanced_accuracy_score, roc_auc_score, make_scorer
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay

In [90]:
# selecionar atributos dos professores que sao de interesse

tp_cols = ["siape", "sexo", "formacao", "tipo_jornada_trabalho",
           "vinculo", "id_unidade_lotacao", "lotacao", "admissao", "categoria",
           "classe_funcional"]

tp_df = pd.read_csv("./perfis/docentes.csv", sep=";")
tp_df = tp_df[tp_cols]

tp_df

,siape,sexo,formacao,tipo_jornada_trabalho,vinculo,id_unidade_lotacao,lotacao,admissao,categoria,classe_funcional
0,1543339,F,MESTRADO,Dedicação exclusiva,Ativo Permanente,1452,NÚCLEO DE EDUCAÇÃO DA INFÂNCIA,2006/07/24 00:00:00.000000000,PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO,DIV ...
1,1554468,M,DOUTORADO,Dedicação exclusiva,Ativo Permanente,351,ESCOLA AGRÍCOLA DE JUNDIAÍ,2008/09/12 00:00:00.000000000,PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO,DV ...
2,1177821,M,MESTRADO,Dedicação exclusiva,Ativo Permanente,284,ESCOLA DE MÚSICA,1998/04/28 00:00:00.000000000,PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO,DIV ...
3,2360824,M,MESTRADO,Dedicação exclusiva,Ativo Permanente,351,ESCOLA AGRÍCOLA DE JUNDIAÍ,2017/01/25 00:00:00.000000000,PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO,DIII ...
4,2364334,F,DOUTORADO,Dedicação exclusiva,Ativo Permanente,351,ESCOLA AGRÍCOLA DE JUNDIAÍ,2009/10/13 00:00:00.000000000,PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO,DIV ...
...,...,...,...,...,...,...,...,...,...,...
2765,4246363,M,DOUTORADO,Dedicação exclusiva,Professor Visitante,1824,INSTITUTO DE POLÍTICAS PÚBLICAS,2023/05/23 00:00:00.000000000,PROFESSOR MAGISTERIO SUPERIOR - VISITANTE,Adjunto ...
2766,3304576,M,DOUTORADO,Dedicação exclusiva,Professor Visitante,4885,ESCOLA DE CIÊNCIAS E TECNOLOGIA,2022/08/12 00:00:00.000000000,PROFESSOR MAGISTERIO SUPERIOR - VISITANTE,Titular ...
2767,1056188,M,DOUTORADO,Dedicação exclusiva,Professor Visitante,179,DEPARTAMENTO DE BIOLOGIA CELULAR E GENÉTICA,2022/10/03 00:00:00.000000000,PROFESSOR MAGISTERIO SUPERIOR - VISITANTE,A ...
2768,3330361,F,DOUTORADO,Dedicação exclusiva,Professor Visitante,6069,INSTITUTO METROPOLE DIGITAL,2023/02/15 00:00:00.000000000,PROFESSOR MAGISTERIO SUPERIOR - VISITANTE,A ...
2769,3309092,M,DOUTORADO,Dedicação exclusiva,Professor Visitante,4894,DEPARTAMENTO DE GEOFÍSICA,2022/09/06 00:00:00.000000000,PROFESSOR MAGISTERIO SUPERIOR - VISITANTE,Titular ...

In [91]:
tp_df.dtypes

siape                     int64
sexo                     object
formacao                 object
tipo_jornada_trabalho    object
vinculo                  object
id_unidade_lotacao        int64
lotacao                  object
admissao                 object
categoria                object
classe_funcional         object
dtype: object

In [92]:
tp_df.describe()

              siape  id_unidade_lotacao
count  2.770000e+03         2770.000000
mean   2.114588e+06         2821.146209
std    1.142222e+06         5617.495694
min    1.274600e+04            2.000000
25%    1.297595e+06          142.000000
50%    1.810985e+06          202.000000
75%    2.722937e+06         4890.000000
max    9.350807e+06        31231.000000

In [93]:
# selecionar atributos que desejamos prever. o siape é incluso para unir as tabelas.

qualis = ["siape", "revista_a1", "revista_a2", "revista_b1",
          "revista_b2", "revista_b3", "revista_b4", "revista_b5", "revista_c"]

ti_df_list = []
for year in range(2010, 2021):
    ti_df_y = pd.read_csv(
        "./indicadores/indicadores-pesquisa-" + str(year) + ".csv", sep=";")
    ti_df_y = ti_df_y[qualis]
    ti_df_list.append(ti_df_y)

ti_df = pd.concat(ti_df_list)
ti_df = ti_df.groupby("siape", as_index=False).sum()
ti_df.describe()

,siape,revista_a1,revista_a2,revista_b1,revista_b2,revista_b3,revista_b4,revista_b5,revista_c
count,2.756000e+03,2756.000000,2756.000000,2756.000000,2756.000000,2756.000000,2756.000000,2756.000000,2756.000000
mean,2.112227e+06,2.634978,1.933599,1.750000,1.269231,0.818215,0.568578,0.054790,0.889332
std,1.137681e+06,6.073799,3.917333,5.375914,2.891393,2.413658,1.778480,0.330389,3.855806
min,1.274600e+04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.296285e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.808676e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2.721404e+06,3.000000,2.000000,2.000000,1.000000,1.000000,0.000000,0.000000,1.000000
max,9.350807e+06,71.000000,51.000000,99.000000,46.000000,41.000000,32.000000,8.000000,124.000000

In [94]:
# unir ambas as tabelas e manter apenas as entradas que possuem siapes em comum

df = tp_df.merge(ti_df, on="siape", how="inner")
del df["siape"]

df

,sexo,formacao,tipo_jornada_trabalho,vinculo,id_unidade_lotacao,lotacao,admissao,categoria,classe_funcional,revista_a1,revista_a2,revista_b1,revista_b2,revista_b3,revista_b4,revista_b5,revista_c
0,F,MESTRADO,Dedicação exclusiva,Ativo Permanente,1452,NÚCLEO DE EDUCAÇÃO DA INFÂNCIA,2006/07/24 00:00:00.000000000,PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO,DIV ...,0,0,0,0,0,0,0,0
1,M,DOUTORADO,Dedicação exclusiva,Ativo Permanente,351,ESCOLA AGRÍCOLA DE JUNDIAÍ,2008/09/12 00:00:00.000000000,PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO,DV ...,1,1,5,0,0,4,0,0
2,M,MESTRADO,Dedicação exclusiva,Ativo Permanente,284,ESCOLA DE MÚSICA,1998/04/28 00:00:00.000000000,PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO,DIV ...,0,0,0,0,0,0,0,0
3,M,MESTRADO,Dedicação exclusiva,Ativo Permanente,351,ESCOLA AGRÍCOLA DE JUNDIAÍ,2017/01/25 00:00:00.000000000,PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO,DIII ...,0,0,0,0,0,0,0,0
4,F,DOUTORADO,Dedicação exclusiva,Ativo Permanente,351,ESCOLA AGRÍCOLA DE JUNDIAÍ,2009/10/13 00:00:00.000000000,PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO,DIV ...,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2748,M,DOUTORADO,Dedicação exclusiva,Professor Visitante,1824,INSTITUTO DE POLÍTICAS PÚBLICAS,2023/05/23 00:00:00.000000000,PROFESSOR MAGISTERIO SUPERIOR - VISITANTE,Adjunto ...,0,0,0,1,0,0,0,1
2749,M,DOUTORADO,Dedicação exclusiva,Professor Visitante,4885,ESCOLA DE CIÊNCIAS E TECNOLOGIA,2022/08/12 00:00:00.000000000,PROFESSOR MAGISTERIO SUPERIOR - VISITANTE,Titular ...,8,4,7,0,2,0,0,0
2750,M,DOUTORADO,Dedicação exclusiva,Professor Visitante,179,DEPARTAMENTO DE BIOLOGIA CELULAR E GENÉTICA,2022/10/03 00:00:00.000000000,PROFESSOR MAGISTERIO SUPERIOR - VISITANTE,A ...,4,2,5,0,0,0,0,0
2751,F,DOUTORADO,Dedicação exclusiva,Professor Visitante,6069,INSTITUTO METROPOLE DIGITAL,2023/02/15 00:00:00.000000000,PROFESSOR MAGISTERIO SUPERIOR - VISITANTE,A ...,44,1,0,0,0,0,0,0
2752,M,DOUTORADO,Dedicação exclusiva,Professor Visitante,4894,DEPARTAMENTO DE GEOFÍSICA,2022/09/06 00:00:00.000000000,PROFESSOR MAGISTERIO SUPERIOR - VISITANTE,Titular ...,4,0,0,0,0,0,0,0

In [95]:
lot_df = pd.read_csv("unidades/unidades.csv", sep=";")

lot_df = lot_df[["id_unidade", "municipio"]]

lot_df.loc[len(lot_df.index)] = [-1, "DESCONHECIDO"]


lot_df.set_index("id_unidade", inplace=True)
lot_df

for index, row in df.iterrows():
    df.loc[index, "municipio"] = lot_df.loc[row["id_unidade_lotacao"] if row["id_unidade_lotacao"] in lot_df.index else -1]["municipio"]

df

,sexo,formacao,tipo_jornada_trabalho,vinculo,id_unidade_lotacao,lotacao,admissao,categoria,classe_funcional,revista_a1,revista_a2,revista_b1,revista_b2,revista_b3,revista_b4,revista_b5,revista_c,municipio
0,F,MESTRADO,Dedicação exclusiva,Ativo Permanente,1452,NÚCLEO DE EDUCAÇÃO DA INFÂNCIA,2006/07/24 00:00:00.000000000,PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO,DIV ...,0,0,0,0,0,0,0,0,NATAL
1,M,DOUTORADO,Dedicação exclusiva,Ativo Permanente,351,ESCOLA AGRÍCOLA DE JUNDIAÍ,2008/09/12 00:00:00.000000000,PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO,DV ...,1,1,5,0,0,4,0,0,MACAÍBA
2,M,MESTRADO,Dedicação exclusiva,Ativo Permanente,284,ESCOLA DE MÚSICA,1998/04/28 00:00:00.000000000,PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO,DIV ...,0,0,0,0,0,0,0,0,NATAL
3,M,MESTRADO,Dedicação exclusiva,Ativo Permanente,351,ESCOLA AGRÍCOLA DE JUNDIAÍ,2017/01/25 00:00:00.000000000,PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO,DIII ...,0,0,0,0,0,0,0,0,MACAÍBA
4,F,DOUTORADO,Dedicação exclusiva,Ativo Permanente,351,ESCOLA AGRÍCOLA DE JUNDIAÍ,2009/10/13 00:00:00.000000000,PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO,DIV ...,0,0,0,1,0,0,0,0,MACAÍBA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2748,M,DOUTORADO,Dedicação exclusiva,Professor Visitante,1824,INSTITUTO DE POLÍTICAS PÚBLICAS,2023/05/23 00:00:00.000000000,PROFESSOR MAGISTERIO SUPERIOR - VISITANTE,Adjunto ...,0,0,0,1,0,0,0,1,NATAL
2749,M,DOUTORADO,Dedicação exclusiva,Professor Visitante,4885,ESCOLA DE CIÊNCIAS E TECNOLOGIA,2022/08/12 00:00:00.000000000,PROFESSOR MAGISTERIO SUPERIOR - VISITANTE,Titular ...,8,4,7,0,2,0,0,0,NATAL
2750,M,DOUTORADO,Dedicação exclusiva,Professor Visitante,179,DEPARTAMENTO DE BIOLOGIA CELULAR E GENÉTICA,2022/10/03 00:00:00.000000000,PROFESSOR MAGISTERIO SUPERIOR - VISITANTE,A ...,4,2,5,0,0,0,0,0,NATAL
2751,F,DOUTORADO,Dedicação exclusiva,Professor Visitante,6069,INSTITUTO METROPOLE DIGITAL,2023/02/15 00:00:00.000000000,PROFESSOR MAGISTERIO SUPERIOR - VISITANTE,A ...,44,1,0,0,0,0,0,0,NATAL
2752,M,DOUTORADO,Dedicação exclusiva,Professor Visitante,4894,DEPARTAMENTO DE GEOFÍSICA,2022/09/06 00:00:00.000000000,PROFESSOR MAGISTERIO SUPERIOR - VISITANTE,Titular ...,4,0,0,0,0,0,0,0,NATAL

In [96]:
sex_map = {"F":0,"M":1}

df["sexo"].replace(sex_map, inplace=True)

In [97]:
# converter a data de admissao para quantos semestres o professor está na universidade.

def num_semestres(data: str, data_atual: str):
    data = data[:10]
    anos = int(data_atual[6:]) - int(data[:4])
    if int(data_atual[3:5]) < 7 and int(data[5:7]) < 7 or int(data_atual[3:5]) >= 7 and int(data[5:7]) >= 7:
        return 2*anos
    elif int(data_atual[3:5]) < 7 and int(data[5:7]) > 7:
        return 2*anos - 1
    else:
        return 2*anos + 1

data_atual = "18/10/2023"

df['num_semestres'] = df['admissao'].apply(lambda x: num_semestres(x, data_atual))
df = df[["sexo", "formacao", "tipo_jornada_trabalho", "vinculo", "categoria","classe_funcional", "lotacao", "id_unidade_lotacao", "municipio", "num_semestres", "revista_a1",
         "revista_a2", "revista_b1", "revista_b2", "revista_b3", "revista_b4", "revista_c"]]

df

,sexo,formacao,tipo_jornada_trabalho,vinculo,categoria,classe_funcional,lotacao,id_unidade_lotacao,municipio,num_semestres,revista_a1,revista_a2,revista_b1,revista_b2,revista_b3,revista_b4,revista_c
0,0,MESTRADO,Dedicação exclusiva,Ativo Permanente,PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO,DIV ...,NÚCLEO DE EDUCAÇÃO DA INFÂNCIA,1452,NATAL,34,0,0,0,0,0,0,0
1,1,DOUTORADO,Dedicação exclusiva,Ativo Permanente,PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO,DV ...,ESCOLA AGRÍCOLA DE JUNDIAÍ,351,MACAÍBA,30,1,1,5,0,0,4,0
2,1,MESTRADO,Dedicação exclusiva,Ativo Permanente,PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO,DIV ...,ESCOLA DE MÚSICA,284,NATAL,51,0,0,0,0,0,0,0
3,1,MESTRADO,Dedicação exclusiva,Ativo Permanente,PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO,DIII ...,ESCOLA AGRÍCOLA DE JUNDIAÍ,351,MACAÍBA,13,0,0,0,0,0,0,0
4,0,DOUTORADO,Dedicação exclusiva,Ativo Permanente,PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO,DIV ...,ESCOLA AGRÍCOLA DE JUNDIAÍ,351,MACAÍBA,28,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2748,1,DOUTORADO,Dedicação exclusiva,Professor Visitante,PROFESSOR MAGISTERIO SUPERIOR - VISITANTE,Adjunto ...,INSTITUTO DE POLÍTICAS PÚBLICAS,1824,NATAL,1,0,0,0,1,0,0,1
2749,1,DOUTORADO,Dedicação exclusiva,Professor Visitante,PROFESSOR MAGISTERIO SUPERIOR - VISITANTE,Titular ...,ESCOLA DE CIÊNCIAS E TECNOLOGIA,4885,NATAL,2,8,4,7,0,2,0,0
2750,1,DOUTORADO,Dedicação exclusiva,Professor Visitante,PROFESSOR MAGISTERIO SUPERIOR - VISITANTE,A ...,DEPARTAMENTO DE BIOLOGIA CELULAR E GENÉTICA,179,NATAL,2,4,2,5,0,0,0,0
2751,0,DOUTORADO,Dedicação exclusiva,Professor Visitante,PROFESSOR MAGISTERIO SUPERIOR - VISITANTE,A ...,INSTITUTO METROPOLE DIGITAL,6069,NATAL,1,44,1,0,0,0,0,0
2752,1,DOUTORADO,Dedicação exclusiva,Professor Visitante,PROFESSOR MAGISTERIO SUPERIOR - VISITANTE,Titular ...,DEPARTAMENTO DE GEOFÍSICA,4894,NATAL,2,4,0,0,0,0,0,0

In [98]:
df.dtypes

sexo                      int64
formacao                 object
tipo_jornada_trabalho    object
vinculo                  object
categoria                object
classe_funcional         object
lotacao                  object
id_unidade_lotacao        int64
municipio                object
num_semestres             int64
revista_a1                int64
revista_a2                int64
revista_b1                int64
revista_b2                int64
revista_b3                int64
revista_b4                int64
revista_c                 int64
dtype: object

In [99]:
print("existem", len(df), "entradas diferentes;")
print("existem", len(df["formacao"].unique()), "formacoes diferentes;")
print("existem", len(df["tipo_jornada_trabalho"].unique()),
      "tipos de jornada de trabalho diferentes;")
print("existem", len(df["vinculo"].unique()), "tipos de vinculo diferentes;")
print("existem", len(df["classe_funcional"].unique()),"classes funcionais diferentes;")
print("existem", len(df["categoria"].unique()),"categorias diferentes;")
print("existem", len(df["lotacao"].unique()), "lotacoes diferentes;")
print("existem", len(df["num_semestres"].unique()),"datas de admissao diferentes;")
print("existem", len(df["municipio"].unique()),"municipios diferentes;")

existem 2753 entradas diferentes;
existem 6 formacoes diferentes;
existem 3 tipos de jornada de trabalho diferentes;
existem 8 tipos de vinculo diferentes;
existem 18 classes funcionais diferentes;
existem 7 categorias diferentes;
existem 135 lotacoes diferentes;
existem 89 datas de admissao diferentes;
existem 6 municipios diferentes;

In [87]:
for municipio in df["municipio"].unique():
    print(municipio, ": ", len(df[df["municipio"] == municipio]), sep="")

NATAL: 2016
MACAÍBA: 121
DESCONHECIDO: 279
CAICÓ: 177
SANTA CRUZ: 104
CURRAIS NOVOS: 56

In [102]:
temp_df = df[df["municipio"] == "DESCONHECIDO"]
print(temp_df["lotacao"].unique())

['DEPARTAMENTO DE SAÚDE COLETIVA' 'PRÓ-REITORIA DE GRADUAÇÃO'
 'DEPARTAMENTO DE ENGENHARIA DE COMUNICAÇÕES'
 'DEPARTAMENTO DE ENGENHARIA MECANICA' 'DEPARTAMENTO DE ODONTOLOGIA'
 'DEPARTAMENTO DE COMUNICAÇÃO SOCIAL' 'DEPARTAMENTO DE PSICOLOGIA'
 'DEPARTAMENTO DE SERVIÇO SOCIAL - DESSO' 'DEPARTAMENTO DE ESTATISTICA'
 'DEPARTAMENTO DE OCEANOGRAFIA E LIMNOLOGIA'
 'SECRETARIA DE EDUCAÇÃO BÁSICA, TÉCNICA E TECNOLÓGICA DA UFRN'
 'ADMINISTRAÇÃO DO CB']

In [103]:
for formacao in df["formacao"].unique():
    print(formacao, ": ", len(df[df["formacao"] == formacao]), sep="")

MESTRADO: 431
DOUTORADO: 2189
ESPECIALIZAÇÃO: 120
GRADUAÇÃO: 11
PÓS-DOUTORADO: 1
DESCONHECIDA: 1

In [12]:
# retirar professores de formação desconhecida.

df = df[df["formacao"] != "DESCONHECIDA"]
for formacao in df["formacao"].unique():
    print(formacao, ": ", len(df[df["formacao"] == formacao]), sep="")

MESTRADO: 431
DOUTORADO: 2189
ESPECIALIZAÇÃO: 120
GRADUAÇÃO: 11
PÓS-DOUTORADO: 1

In [13]:
# colocar uma ordem de classificacao. pos-doc > doc > mestrado > esp > grad

nivel_formacao = {"GRADUAÇÃO":1, "ESPECIALIZAÇÃO":2, "MESTRADO":3,"DOUTORADO":4,"PÓS-DOUTORADO":5}

df["formacao"].replace(nivel_formacao, inplace=True)
for formacao in df["formacao"].unique():
    print(formacao, ": ", len(df[df["formacao"] == formacao]), sep="")

3: 431
4: 2189
2: 120
1: 11
5: 1

C:\Users\lucas\AppData\Local\Temp\ipykernel_26888\852662980.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["formacao"].replace(nivel_formacao, inplace=True)

In [14]:
for tipo_jornada_trabalho in df["tipo_jornada_trabalho"].unique():
    print(tipo_jornada_trabalho, ": ", len(
        df[df["tipo_jornada_trabalho"] == tipo_jornada_trabalho]), sep="")

Dedicação exclusiva           : 2155
20 horas semanais             : 307
40 horas semanais             : 290

In [15]:
for vinculo in df["vinculo"].unique():
    print(vinculo, ": ", len(df[df["vinculo"] == vinculo]), sep="")

Ativo Permanente: 2376
Celetista: 1
Colaborador PCCTAE e Magistério Federal: 2
Excedente de lotação: 3
Exercicio provisorio: 18
Professor Substituto: 260
Professor Temporario: 50
Professor Visitante: 42

In [16]:
# há poucas pessoas com esses atributos:

df = df[df["vinculo"] != "Celetista"]
df = df[df["vinculo"] != "Colaborador PCCTAE e Magistério Federal"]
df = df[df["vinculo"] != "Excedente de lotação"]
for vinculo in df["vinculo"].unique():
    print(vinculo, ": ", len(df[df["vinculo"] == vinculo]), sep="")

# então decidi retirá-los

Ativo Permanente: 2376
Exercicio provisorio: 18
Professor Substituto: 260
Professor Temporario: 50
Professor Visitante: 42

In [17]:
for categoria in df["categoria"].unique():
    print(categoria, ": ", len(df[df["categoria"] == categoria]), sep="")

PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO: 215
PROFESSOR DO MAGISTERIO SUPERIOR: 2178
PROFESSOR 3 GRAU                        : 1
PROF ENS BAS TEC TECNOLOGICO-SUBSTITUTO: 29
PROFESSOR DO MAGISTERIO SUPERIOR - SUBSTITUTO: 231
PROFESSOR DO MAGISTERIO SUPERIOR - TEMPORARIO: 50
PROFESSOR MAGISTERIO SUPERIOR - VISITANTE: 42

Veja que a informação de "SUBSTITUTO", "TEMPORARIO" e "VISITANTE" já está informada na coluna "vínculo". Então, irei retirá-la dos dados, assim como o único professor de terceiro grau.

In [18]:
retirar_vinculo = {"PROF ENS BAS TEC TECNOLOGICO-SUBSTITUTO":"PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO",
                   "PROFESSOR DO MAGISTERIO SUPERIOR - SUBSTITUTO":"PROFESSOR DO MAGISTERIO SUPERIOR",
                   "PROFESSOR DO MAGISTERIO SUPERIOR - TEMPORARIO":"PROFESSOR DO MAGISTERIO SUPERIOR",
                   "PROFESSOR MAGISTERIO SUPERIOR - VISITANTE":"PROFESSOR DO MAGISTERIO SUPERIOR"}

df = df[df["categoria"] != "PROFESSOR 3 GRAU                        "]

df["categoria"].replace(retirar_vinculo, inplace=True)

for categoria in df["categoria"].unique():
    print(categoria, ": ", len(df[df["categoria"] == categoria]), sep="")

PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO: 244
PROFESSOR DO MAGISTERIO SUPERIOR: 2501

Verifique que a soma de elementos de uma mesma categoria se manteve. Agora, iremos ranquear os professores com base em sua classe funcional:

In [19]:
for classe_funcional in df["classe_funcional"].unique():
    print(classe_funcional, ": ", len(df[df["classe_funcional"] == classe_funcional]), sep="")

DIV                                                                                                 : 75
DV                                                                                                  : 32
DIII                                                                                                : 78
DI                                                                                                  : 47
D                                                                                                   : 7
DII                                                                                                 : 4
Classe A - Adjunto A                                                                                : 141
Classe C - Adjunto                                                                                  : 757
Classe A - Auxiliar                                                                                 : 46
Classe E - Titular                                                                                  : 307
Classe D - Associado                                                                                : 834
Classe B - Assistente                                                                               : 59
Classe A - Assistente A                                                                             : 22
Não Informada                                                                                       : 16
Auxiliar                                                                                            : 278
A                                                                                                   : 20
Titular                                                                                             : 13
Adjunto                                                                                             : 9

Como podemos ver, há 17 professores com classes não-informadas, e algmas estão repetidas e com outros nomes. Ainda, há 20 professores de classe A sem uma subclasse. O mapeamento, segundo a [PROGESP](https://progesp.ufrn.br/secao/carreira), se dá da seguinte maneira:

| Original | Mapeamento |
|-|-|
|DV|1|
|DIV|2|
|DIII|3|
|DII|4|
|DI|5|
|Classe E - Titular<br>Titular|6|
|Classe D - Associado<br>D|7|
|Classe C - Adjunto<br>Adjunto|8|
|Classe B - Assistente|9|
|Classe A - Auxiliar<br>Auxiliar|10|
|Classe A - Assistente A<br>A|11|
|Classe A - Adjunto A|12|

É importante notar também que iremos retirar professores sem categoria. E professores classe A sem denominação específica serão tratados como Assistentes, pois têm o valor médio da classe A.

In [20]:
mapear_class_func = {
    "DV                                                                                                  ":1,
    "DIV                                                                                                 ":2,
    "DIII                                                                                                ":3,
    "DII                                                                                                 ":4,
    "DI                                                                                                  ":5,
    "Classe E - Titular                                                                                  ":6,
    "Titular                                                                                             ":6,
    "Classe D - Associado                                                                                ":7,
    "D                                                                                                   ":7,
    "Classe C - Adjunto                                                                                  ":8,
    "Adjunto                                                                                             ":8,
    "Classe B - Assistente                                                                               ":9,
    "Classe A - Auxiliar                                                                                 ":10,
    "Auxiliar                                                                                            ":10,
    "Classe A - Assistente A                                                                             ":11,
    "A                                                                                                   ":11,
    "Classe A - Adjunto A                                                                                ":12,
}

df = df[df["classe_funcional"] != "Não Informada                                                                                       "]

df["classe_funcional"].replace(mapear_class_func, inplace=True)

In [21]:
for classe_funcional in df["classe_funcional"].unique():
    print(classe_funcional, ": ", len(df[df["classe_funcional"] == classe_funcional]), sep="")

2: 75
1: 32
3: 78
5: 47
7: 841
4: 4
12: 141
8: 766
10: 324
6: 320
9: 59
11: 42

In [22]:
df.reset_index(drop=True, inplace=True)
df.describe()

,formacao,classe_funcional,num_semestres,revista_a1,revista_a2,revista_b1,revista_b2,revista_b3,revista_b4,revista_c
count,2729.000000,2729.000000,2729.000000,2729.000000,2729.000000,2729.000000,2729.000000,2729.000000,2729.000000,2729.000000
mean,3.744229,7.521803,25.477831,2.646757,1.939538,1.755955,1.270429,0.814584,0.569073,0.890070
std,0.548749,2.113959,20.856943,6.095930,3.929876,5.398132,2.900249,2.394411,1.780601,3.868675
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.000000,7.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.000000,7.000000,24.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,4.000000,8.000000,30.000000,3.000000,2.000000,2.000000,1.000000,1.000000,0.000000,1.000000
max,5.000000,12.000000,97.000000,71.000000,51.000000,99.000000,46.000000,41.000000,32.000000,124.000000

In [23]:
df.describe(include="object")

,tipo_jornada_trabalho,vinculo,categoria,lotacao
count,2729,2729,2729,2729
unique,3,5,2,134
top,Dedicação exclusiva,Ativo Permanente,PROFESSOR DO MAGISTERIO SUPERIOR,ESCOLA AGRÍCOLA DE JUNDIAÍ
freq,2133,2376,2486,119

In [24]:
# df.drop("lotacao", axis=1, inplace=True)

In [25]:
keep = ['revista_a1',
        'revista_a2',
        'revista_b1',
        'revista_b2',
        'revista_b3',
        'revista_b4',
        'revista_c']

X = df.drop(keep, axis=1).copy()
X

,formacao,tipo_jornada_trabalho,vinculo,categoria,classe_funcional,lotacao,num_semestres
0,3,Dedicação exclusiva,Ativo Permanente,PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO,2,NÚCLEO DE EDUCAÇÃO DA INFÂNCIA,34
1,4,Dedicação exclusiva,Ativo Permanente,PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO,1,ESCOLA AGRÍCOLA DE JUNDIAÍ,30
2,3,Dedicação exclusiva,Ativo Permanente,PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO,2,ESCOLA DE MÚSICA,51
3,3,Dedicação exclusiva,Ativo Permanente,PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO,3,ESCOLA AGRÍCOLA DE JUNDIAÍ,13
4,4,Dedicação exclusiva,Ativo Permanente,PROFESSOR DE ENSINO BASICO TECNICO E TECNOLOGICO,2,ESCOLA AGRÍCOLA DE JUNDIAÍ,28
...,...,...,...,...,...,...,...
2724,4,Dedicação exclusiva,Professor Visitante,PROFESSOR DO MAGISTERIO SUPERIOR,8,INSTITUTO DE POLÍTICAS PÚBLICAS,1
2725,4,Dedicação exclusiva,Professor Visitante,PROFESSOR DO MAGISTERIO SUPERIOR,6,ESCOLA DE CIÊNCIAS E TECNOLOGIA,2
2726,4,Dedicação exclusiva,Professor Visitante,PROFESSOR DO MAGISTERIO SUPERIOR,11,DEPARTAMENTO DE BIOLOGIA CELULAR E GENÉTICA,2
2727,4,Dedicação exclusiva,Professor Visitante,PROFESSOR DO MAGISTERIO SUPERIOR,11,INSTITUTO METROPOLE DIGITAL,1
2728,4,Dedicação exclusiva,Professor Visitante,PROFESSOR DO MAGISTERIO SUPERIOR,6,DEPARTAMENTO DE GEOFÍSICA,2

In [26]:
[ya1,
 ya2,
 yb1,
 yb2,
 yb3,
 yb4,
 yc] = [df[col].copy() for col in keep]

[ya1, ya2, yb1, yb2, yb3, yb4, yc]

[0        0
 1        1
 2        0
 3        0
 4        0
         ..
 2724     0
 2725     8
 2726     4
 2727    44
 2728     4
 Name: revista_a1, Length: 2729, dtype: int64,
 0       0
 1       1
 2       0
 3       0
 4       0
        ..
 2724    0
 2725    4
 2726    2
 2727    1
 2728    0
 Name: revista_a2, Length: 2729, dtype: int64,
 0       0
 1       5
 2       0
 3       0
 4       0
        ..
 2724    0
 2725    7
 2726    5
 2727    0
 2728    0
 Name: revista_b1, Length: 2729, dtype: int64,
 0       0
 1       0
 2       0
 3       0
 4       1
        ..
 2724    1
 2725    0
 2726    0
 2727    0
 2728    0
 Name: revista_b2, Length: 2729, dtype: int64,
 0       0
 1       0
 2       0
 3       0
 4       0
        ..
 2724    0
 2725    2
 2726    0
 2727    0
 2728    0
 Name: revista_b3, Length: 2729, dtype: int64,
 0       0
 1       4
 2       0
 3       0
 4       0
        ..
 2724    0
 2725    0
 2726    0
 2727    0
 2728    0
 Name: revista_b4, Length: 2729, dtype: int64,
 0       0
 1       0
 2       0
 3       0
 4       0
        ..
 2724    1
 2725    0
 2726    0
 2727    0
 2728    0
 Name: revista_c, Length: 2729, dtype: int64]

In [27]:
X_encoded = pd.get_dummies(X, columns=["tipo_jornada_trabalho",
                                       "vinculo",
                                       "categoria",
                                       "lotacao"])

X_encoded

,formacao,classe_funcional,num_semestres,tipo_jornada_trabalho_20 horas semanais,tipo_jornada_trabalho_40 horas semanais,tipo_jornada_trabalho_Dedicação exclusiva,vinculo_Ativo Permanente,vinculo_Exercicio provisorio,vinculo_Professor Substituto,vinculo_Professor Temporario,...,"lotacao_SECRETARIA DE EDUCAÇÃO BÁSICA, TÉCNICA E TECNOLÓGICA DA UFRN",lotacao_SECRETARIA DE GESTÃO DE PROJETOS,lotacao_SECRETARIA DE GOVERNANÇA INSTITUCIONAL,lotacao_SECRETARIA DE INCLUSÃO E ACESSIBILIDADE- SIA,lotacao_SECRETARIA DE RELAÇOES INTERNACIONAIS,lotacao_SUPERINTENDENCIA DE COMUNICACAO,lotacao_SUPERINTENDÊNCIA DE INFRAESTRUTURA,lotacao_SUPERINTENDÊNCIA DE TECNOLOGIA DA INFORMAÇÃO,lotacao_SUPERINTENDÊNCIA DO HUOL - EBSERH,lotacao_UNIVERSIDADE FEDERAL DO RIO GRANDE DO NORTE
0,3,2,34,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,4,1,30,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,3,2,51,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,3,3,13,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,4,2,28,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2724,4,8,1,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2725,4,6,2,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2726,4,11,2,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2727,4,11,1,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2728,4,6,2,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [28]:
[(sum(ya1) / len(ya1)),
 (sum(ya2) / len(ya2)),
 (sum(yb1) / len(yb1)),
 (sum(yb2) / len(yb2)),
 (sum(yb3) / len(yb3)),
 (sum(yb4) / len(yb4)),
 (sum(yc) / len(yc))]

[2.646757053865885,
 1.939538292414804,
 1.7559545621106631,
 1.2704287284719677,
 0.8145840967387321,
 0.5690729204836936,
 0.8900696225723709]

In [29]:
# Lista de variáveis alvo
target_vars = [(ya1, "ya1"), (ya2, "ya2"), (yb1, "yb1"), (yb2, "yb2"), (yb3, "yb3"), (yb4, "yb4"), (yc, "yc")]

# Dicionário para armazenar os conjuntos de treinamento e teste
train_test_sets = {}

# Loop sobre as variáveis alvo
for var, var_name in target_vars:
    X_train, X_test, y_train, y_test = train_test_split(X_encoded, var, random_state=42)
    train_test_sets[var_name] = (X_train, X_test, y_train, y_test)

# Agora, você pode acessar os conjuntos de treinamento e teste usando o nome da variável alvo desejada
X_train_ya1, X_test_ya1, ya1_train, ya1_test = train_test_sets["ya1"]
X_train_ya2, X_test_ya2, ya2_train, ya2_test = train_test_sets["ya2"]
X_train_yb1, X_test_yb1, yb1_train, yb1_test = train_test_sets["yb1"]
X_train_yb2, X_test_yb2, yb2_train, yb2_test = train_test_sets["yb2"]
X_train_yb3, X_test_yb3, yb3_train, yb3_test = train_test_sets["yb3"]
X_train_yb4, X_test_yb4, yb4_train, yb4_test = train_test_sets["yb4"]
X_train_yc, X_test_yc, yc_train, yc_test = train_test_sets["yc"]

In [30]:
[(sum(ya1_train) / len(ya1_train)),
 (sum(ya2_train) / len(ya2_train)),
 (sum(yb1_train) / len(yb1_train)),
 (sum(yb2_train) / len(yb2_train)),
 (sum(yb3_train) / len(yb3_train)),
 (sum(yb4_train) / len(yb4_train)),
 (sum(yc_train) / len(yc_train))]

[2.639784946236559,
 1.9472140762463344,
 1.6715542521994136,
 1.1901270772238515,
 0.8093841642228738,
 0.5650048875855328,
 0.9496578690127078]

In [31]:
[(sum(ya1_test) / len(ya1_test)),
 (sum(ya2_test) / len(ya2_test)),
 (sum(yb1_test) / len(yb1_test)),
 (sum(yb2_test) / len(yb2_test)),
 (sum(yb3_test) / len(yb3_test)),
 (sum(yb4_test) / len(yb4_test)),
 (sum(yc_test) / len(yc_test))]

[2.6676427525622253,
 1.916544655929722,
 2.0087847730600292,
 1.5109809663250366,
 0.8301610541727672,
 0.5812591508052709,
 0.7115666178623719]

In [38]:
from skopt import BayesSearchCV
from skopt.space import Real, Integer, Categorical

param_space = {
    "max_depth": Integer(1,20),
    "n_estimators": Integer(10,1000),
    "reg_lambda": Real(0, 10),
    "eta": Real(0.01, 1),
    "gamma": Real(0,7)
}

reg_xgb_ya1 = xgb.XGBRegressor()

xgb_bayes_search = BayesSearchCV(reg_xgb_ya1, param_space, n_iter=32,
                                 scoring="neg_root_mean_squared_error",
                                 verbose=True, cv=5, n_jobs=4, random_state=42)

xgb_bayes_search.fit(X_train_ya1, ya1_train)

Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits

BayesSearchCV(cv=5,
              estimator=XGBRegressor(base_score=None, booster=None,
                                     callbacks=None, colsample_bylevel=None,
                                     colsample_bynode=None,
                                     colsample_bytree=None, device=None,
                                     early_stopping_rounds=None,
                                     enable_categorical=False, eval_metric=None,
                                     feature_types=None, gamma=None,
                                     grow_policy=None, importance_type=None,
                                     interaction_constraints=None,
                                     learning_rate=None,...
              search_spaces={'eta': Real(low=0.01, high=1, prior='uniform', transform='normalize'),
                             'gamma': Real(low=0, high=7, prior='uniform', transform='normalize'),
                             'max_depth': Integer(low=1, high=20, prior='uniform', transform='normalize'),
                             'n_estimators': Integer(low=10, high=1000, prior='uniform', transform='normalize'),
                             'reg_lambda': Real(low=0, high=10, prior='uniform', transform='normalize')},
              verbose=True)

In [43]:
print(xgb_bayes_search.best_params_)
xgb_bayes_search.best_score_
estimator_ya1 = xgb_bayes_search.best_estimator_

OrderedDict([('eta', 0.6819801039220021), ('gamma', 7.0), ('max_depth', 1), ('n_estimators', 178), ('reg_lambda', 0.7441291807581816)])

In [44]:
predicoes_ya1 = estimator_ya1.predict(X_test_ya1)
predicoes_ya1[10:20]

array([ 3.7931108,  6.0076065,  1.7208542,  3.7942326, 11.790098 ,
        1.6642836,  0.8186923,  2.169525 ,  1.164871 ,  5.015874 ],
      dtype=float32)

In [45]:
pred_list = list(predicoes_ya1)
test_list = list(ya1_test)
complist = []
for i in range(len(test_list)):
    complist.append((test_list[i], pred_list[i]))
complist

[(0, 1.6544214),
 (8, 7.742039),
 (0, 2.189793),
 (8, 2.1524053),
 (1, 0.9669367),
 (0, -0.20766462),
 (11, 4.661025),
 (0, -0.4518466),
 (1, -0.35034743),
 (4, 4.6611633),
 (1, 3.7931108),
 (5, 6.0076065),
 (1, 1.7208542),
 (3, 3.7942326),
 (3, 11.790098),
 (1, 1.6642836),
 (0, 0.8186923),
 (0, 2.169525),
 (0, 1.164871),
 (46, 5.015874),
 (0, 3.170341),
 (0, -0.58087105),
 (0, 2.189793),
 (1, 6.102502),
 (1, 5.490651),
 (0, 2.5031083),
 (4, 0.54121786),
 (0, 1.2558607),
 (1, 1.0175874),
 (0, 6.034958),
 (0, 2.6680322),
 (0, 1.5127999),
 (0, 2.1524053),
 (0, 1.5986435),
 (0, -0.3879854),
 (1, 2.5124419),
 (3, 4.2812314),
 (0, 2.1524053),
 (1, 2.1524053),
 (15, 5.0054884),
 (0, 2.1524053),
 (2, 4.0561666),
 (1, 2.1524053),
 (0, 1.4611434),
 (1, -0.20766462),
 (18, 20.063534),
 (0, 1.7137239),
 (0, -0.09987513),
 (0, 2.716701),
 (0, -1.1331767),
 (0, 1.677288),
 (0, -0.94504267),
 (0, 0.9688235),
 (0, 0.45726445),
 (0, 0.828889),
 (0, 0.061199486),
 (0, 0.33460346),
 (0, 4.113098),
 (0, 0.33460346),
 (6, 2.1524053),
 (0, 0.56908673),
 (0, 0.45726445),
 (0, -0.58087105),
 (1, 1.9968153),
 (4, 8.627864),
 (1, 1.0093592),
 (2, 8.771587),
 (1, 4.1256413),
 (0, 0.83047056),
 (4, 0.6261478),
 (0, 1.6642836),
 (2, 1.1382719),
 (3, 8.283463),
 (0, 0.6416093),
 (0, 1.3831347),
 (0, -1.7182183),
 (0, -0.8486758),
 (3, 0.68462545),
 (7, 2.2285788),
 (42, 2.6173987),
 (1, 1.3497618),
 (0, 0.7859482),
 (1, 0.4963571),
 (0, 0.15487027),
 (0, 1.6642836),
 (0, 3.170341),
 (0, 3.821128),
 (0, 1.6544214),
 (5, 4.4338365),
 (1, 1.6642836),
 (0, 1.6642836),
 (5, 3.6082833),
 (3, 2.6822193),
 (4, 13.3432865),
 (0, 3.7037935),
 (0, 1.6642836),
 (0, 1.0246779),
 (0, 4.0848603),
 (49, 8.696653),
 (0, 0.7350804),
 (0, 0.11556674),
 (8, 2.9144237),
 (0, 0.78062165),
 (1, 2.6286254),
 (0, -0.4518466),
 (0, -1.3418714),
 (2, 4.4864197),
 (0, 0.9669367),
 (0, 1.3497618),
 (0, 0.9669367),
 (0, 1.2310334),
 (0, -0.053253055),
 (0, -1.1053907),
 (0, 0.34363833),
 (0, 1.5416225),
 (0, 1.7515444),
 (0, -1.7388207),
 (0, 0.3604607),
 (0, 0.83985627),
 (0, -0.06857305),
 (1, 1.7492291),
 (2, 5.7688975),
 (3, 3.170341),
 (0, 1.7910103),
 (6, 2.189793),
 (0, 1.0861579),
 (1, 2.9197505),
 (0, -2.4791527),
 (2, 2.1524053),
 (4, 2.169525),
 (5, 4.4864197),
 (0, 1.1585542),
 (0, 4.2135415),
 (4, 3.96091),
 (2, 2.1524053),
 (2, 1.0290188),
 (3, 1.0093592),
 (0, -0.087675124),
 (0, 2.2750664),
 (0, 1.6440841),
 (0, 1.0680484),
 (0, 0.33460346),
 (1, 6.478668),
 (1, 0.33460346),
 (2, 1.3483678),
 (2, 2.1524053),
 (4, 5.9938974),
 (0, 1.6642836),
 (0, 8.485573),
 (0, -0.58087105),
 (5, 3.415894),
 (0, 2.3377852),
 (0, -0.7004433),
 (0, 6.0312853),
 (0, 2.2750664),
 (6, 0.87050486),
 (0, 1.4995552),
 (0, 0.46441984),
 (31, 5.4846845),
 (0, 2.1524053),
 (14, 1.6642836),
 (4, 10.49544),
 (0, 4.500247),
 (0, 2.6822193),
 (0, 1.1402485),
 (1, 3.1226401),
 (4, 8.349358),
 (0, 4.6558366),
 (0, 0.51904184),
 (0, 0.76773846),
 (6, 1.4653019),
 (1, 1.6683491),
 (0, 0.6261478),
 (6, 12.100518),
 (0, 4.6671867),
 (0, 1.9968153),
 (0, 2.2650106),
 (0, 1.6642836),
 (6, 3.5967395),
 (0, 1.6642836),
 (0, -0.029567925),
 (13, 4.500247),
 (1, 2.3377852),
 (0, 0.33460346),
 (2, 2.03749),
 (0, 0.571266),
 (0, 1.4286741),
 (0, 1.5416225),
 (4, 1.3438684),
 (1, 1.0861579),
 (2, 4.0935564),
 (1, 1.5469493),
 (1, -0.0024778638),
 (3, 3.170341),
 (0, -1.6197718),
 (5, 4.4490314),
 (0, -2.2422533),
 (13, 20.063534),
 (0, 2.1524053),
 (0, 2.1524053),
 (0, 0.33460346),
 (3, 11.827263),
 (0, -1.6365101),
 (0, 0.1413487),
 (4, 6.359698),
 (1, 2.9144237),
 (0, 1.0861579),
 (3, 2.1524053),
 (18, 5.742351),
 (2, 1.1846093),
 (0, 1.6642836),
 (2, 1.4348027),
 (0, 1.4820129),
 (3, 1.6080985),
 (0, -0.55722404),
 (6, 2.6674812),
 (28, 16.954645),
 (1, 1.7515444),
 (0, -1.7078614),
 (9, 6.629075),
 (0, 0.33460346),
 (0, 3.170341),
 (34, 10.65103),
 (0, 0.48550785),
 (2, 1.9968153),
 (0, 2.230687),
 (2, 1.5416225),
 (2, 2.03749),
 (0, 1.5469493),
 (0, 2.1524053),
 (1, 1.1827778),
 (0, 3.6082833),
 (0, 2.1524053),
 (5, 2.782935),
 (0, 1.5416225),
 (0, 1.6642836),
 (0, -0.009666393),
 (7, 10.65103),
 (0, 0.88669825),
 (2, 3.7931108),
 (0, -1.4973478),
 (5, 0.45726445),
 (0, -0.2184872),
 (0, -1.1367973),
 (0, -0.087675124),
 (1, 1.7515444),
 (6, 4.75021),
 (0, -0.89801294),
 (1, 0.68462545),
 (0, 0.57582444),
 (0, 1.6642836),
 (5, 20.063534),
 (8, 3.9613535),
 (1, 1.1193439),
 (2, 2.3700995),
 (0, 1.7910103),
 (2, 2.716701),
 (0, 0.94229263),
 (0, 1.2298073),
 (0, 1.8726515),
 (26, 17.07198),
 (0, 8.771587),
 (6, 1.7515444),
 (0, 3.170341),
 (2, 2.6099334),
 (0, 1.5469493),
 (4, 1.5416225),
 (1, 0.5445252),
 (6, 7.008869),
 (0, 0.9989572),
 (0, 4.1807203),
 (8, 3.574456),
 (0, 2.6680322),
 (0, -0.3710204),
 (0, 0.053394616),
 (1, 0.37902272),
 (22, 7.173384),
 (3, 5.5745516),
 (1, 1.6449004),
 (30, 17.560102),
 (3, 6.432703),
 (0, 1.6683491),
 (0, 2.220263),
 (0, 1.5416225),
 (0, 1.5144945),
 (3, 0.6351823),
 (4, 6.027165),
 (1, 3.6417058),
 (0, 0.33460346),
 (0, 0.27499354),
 (0, -1.0639731),
 (0, 0.83047056),
 (0, 0.83985627),
 (5, 2.782935),
 (2, 4.500247),
 (4, 1.8236204),
 (12, 5.0668473),
 (12, 1.2611071),
 (2, 1.5469493),
 (2, 5.5426135),
 (0, 1.0680484),
 (0, 1.3497618),
 (0, 0.7656534),
 (0, 2.6173987),
 (3, 1.2934214),
 (2, 2.6822193),
 (0, 0.45726445),
 (1, 1.7542337),
 (0, -0.09987513),
 (7, 5.1709123),
 (1, 2.1524053),
 (0, -0.11801803),
 (1, 1.5469493),
 (6, 8.283463),
 (0, 3.170341),
 (0, 3.2541811),
 (11, 11.527143),
 (2, 2.1524053),
 (9, 8.760597),
 (0, 0.9669367),
 (0, 2.1524053),
 (16, 8.367759),
 (1, 1.6642836),
 (0, 0.33460346),
 (1, 2.1524053),
 (8, 2.6822193),
 (0, 1.6683491),
 (0, 13.880086),
 (0, 2.782935),
 (0, 1.0246779),
 (0, 2.4263022),
 (2, 1.9624748),
 (4, 2.716701),
 (13, 2.1524053),
 (0, 0.94229263),
 (0, 7.431051),
 (0, 1.5317606),
 (0, -0.17551781),
 (1, 1.6642836),
 (2, 3.188059),
 (0, 1.111318),
 (2, 1.2661115),
 (2, 5.0475073),
 (0, 1.3914045),
 (6, 4.4792585),
 (0, -1.1102556),
 (37, 5.735208),
 (0, 1.9064803),
 (8, 6.2518578),
 (0, 1.492154),
 (3, 2.6437523),
 (3, 0.8113464),
 (0, 0.9669367),
 (0, 0.7551722),
 (0, 1.2812153),
 (1, 1.138446),
 (44, 13.724496),
 (2, 0.26197618),
 (0, 1.6642836),
 (0, 1.4475337),
 (3, 3.7931108),
 (0, 2.0125573),
 (0, -0.19765943),
 (0, 0.33150938),
 (1, 2.1524053),
 (0, 1.6683491),
 (0, -0.94504267),
 (5, 2.0521905),
 (7, 3.9613535),
 (1, 0.9669367),
 (0, 5.5470967),
 (6, 8.771587),
 (0, 3.7472212),
 (19, 19.841534),
 (0, 1.5416225),
 (0, 2.1524053),
 (0, 1.3497618),
 (0, 1.5469493),
 (1, 4.6558366),
 (16, 4.6558366),
 (0, 0.86163974),
 (4, 1.4995552),
 (0, 1.8285236),
 (4, 3.5967395),
 (6, 4.4490314),
 (0, 2.6410203),
 (1, -0.042652458),
 (0, 1.3471416),
 (0, 2.47793),
 (2, 1.0246779),
 (3, 3.1254177),
 (4, 2.1524053),
 (11, 6.027165),
 (0, 1.0000664),
 (1, 1.6642836),
 (5, 1.3304137),
 (2, 2.6173987),
 (22, 2.637296),
 (0, 2.5595582),
 (0, 2.208953),
 (0, 1.3324264),
 (0, 1.5416225),
 (0, 1.1723881),
 (4, 11.1194315),
 (4, 1.4820129),
 (13, 7.4861217),
 (2, 1.3008765),
 (0, 1.9420996),
 (0, 3.6976058),
 (0, -0.28510013),
 (0, 0.8988991),
 (0, 0.7171953),
 (0, 1.1434506),
 (23, 6.3695908),
 (2, 5.5426135),
 (0, 4.802867),
 (0, 1.1837856),
 (0, 1.3515857),
 (0, 0.06378028),
 (1, 3.170341),
 (0, -0.4518466),
 (0, 0.83047056),
 (27, 3.170341),
 (2, 4.500247),
 (0, 0.98447907),
 (0, 2.03749),
 (3, 1.1402485),
 (0, -0.7239824),
 (0, 3.170341),
 (0, 1.2661115),
 (3, 5.064366),
 (0, 1.1193439),
 (0, 3.170341),
 (0, 3.428899),
 (0, 1.6642836),
 (0, 0.73897874),
 (0, -1.5999662),
 (0, 2.6822193),
 (10, 1.6642836),
 (0, 2.1524053),
 (0, 0.73897874),
 (1, 0.69648695),
 (0, 1.7542337),
 (0, 2.6674812),
 (0, 0.94229263),
 (1, 2.9144237),
 (0, 1.5416225),
 (2, 1.2558607),
 (0, 1.0093592),
 (1, 2.8061206),
 (2, 1.2349888),
 (1, 0.88669825),
 (0, 0.46629938),
 (0, 0.49420464),
 (3, 4.2576647),
 (7, 3.4740784),
 (0, 1.472423),
 (0, 2.6576467),
 (0, -0.48584718),
 (0, 0.9793322),
 (6, 3.170341),
 (0, 3.9221218),
 (4, 6.084483),
 (1, 3.188059),
 (1, 2.2192268),
 (0, 2.603018),
 (0, -0.58087105),
 (0, 1.1802275),
 (0, -0.549892),
 (9, 2.1524053),
 (3, 0.8113464),
 (3, 0.67023253),
 (13, 4.4490314),
 (0, -0.94504267),
 (0, 1.317068),
 (0, 1.4974815),
 (0, 2.1940086),
 (0, 0.86163974),
 (0, 1.6642836),
 (0, -0.91607636),
 (0, 3.6704497),
 (44, 3.5374637),
 (2, 2.9485683),
 (0, 2.6174412),
 (0, 1.6326439),
 (0, 0.83047056),
 (0, -0.18572046),
 (3, 1.6642836),
 (1, 1.7542337),
 (0, 2.1524053),
 (10, 5.413317),
 (2, 1.6642836),
 (4, 1.6642836),
 (0, 5.904504),
 (2, 4.500247),
 (0, 13.880086),
 (0, 0.86163974),
 (2, 8.349358),
 (0, 5.1895084),
 (1, 2.6173987),
 (0, 2.1524053),
 (31, 6.0621724),
 (0, 5.0589747),
 (3, 3.231777),
 (26, 6.8404174),
 (0, -1.4501946),
 (14, 6.201898),
 (0, 3.170341),
 (0, 1.5469493),
 (0, 0.94229263),
 (0, 6.13773),
 (0, 3.1646488),
 (0, 1.011336),
 (2, 0.6261478),
 (1, 0.4963571),
 (0, 2.1524053),
 (0, 0.7350804),
 (1, 2.189793),
 (0, -0.58087105),
 (1, 2.189793),
 (0, 0.88669825),
 (0, 2.716701),
 (0, 0.6251506),
 (0, 1.1199768),
 (1, 1.6642836),
 (2, 4.592787),
 (1, 2.1434462),
 (1, -0.56031847),
 (7, 1.6642836),
 (1, 2.7906933),
 (2, 1.2611071),
 (1, -0.58087105),
 (0, 0.50598645),
 (0, -1.7753398),
 (3, 5.8647227),
 (0, 1.5469493),
 (1, 0.45726445),
 (0, 3.170341),
 (0, 7.139246),
 (0, -2.1138701),
 (16, 17.560102),
 (0, -12.192975),
 (0, 1.4994587),
 (3, 8.341741),
 (1, 17.560102),
 (1, 1.2329761),
 (4, 13.880086),
 (0, 0.33460346),
 (1, 3.8372352),
 (0, 1.041674),
 (3, 0.25996375),
 (3, 1.9968153),
 (5, 6.7241035),
 (2, 0.9793322),
 (0, 0.83047056),
 (0, 1.6598061),
 (1, 2.189793),
 (1, 2.3089678),
 (0, 1.3471416),
 (0, 4.1346254),
 (14, 5.9938974),
 (0, 2.1524053),
 (0, 1.2661115),
 (10, 7.861236),
 (0, 0.4963571),
 (2, 0.5528981),
 (0, 0.83985627),
 (0, 0.45726445),
 (0, 0.5445252),
 (1, 2.2750664),
 (0, -2.8861434),
 (0, 0.86160225),
 (15, 6.3601685),
 (0, 0.42186427),
 (2, 11.612395),
 (0, 1.856398),
 (0, 1.011336),
 (1, 1.7492291),
 (0, 1.2812153),
 (0, 1.6642836),
 (0, 2.1524053),
 (0, 1.5348696),
 (0, 1.6642836),
 (0, 0.98447907),
 (0, 2.4263022),
 (0, 0.27499354),
 (2, 1.8718902),
 (0, 2.03749),
 (0, 0.7859482),
 (2, 3.4159708),
 (0, 0.061199486),
 (17, 2.1969392),
 (0, 0.72252184),
 (0, 0.9973154),
 (18, 2.6822193),
 (0, -1.2544895),
 (6, 5.286366),
 (0, -0.50286233),
 (5, 17.560102),
 (0, 1.6642836),
 (0, -0.58087105),
 (14, 8.561125),
 (0, 1.6440841),
 (3, 7.894941),
 (0, 2.1524053),
 (1, 1.9968153),
 (0, 0.02595686),
 (8, 4.500247),
 (16, 11.012066),
 (0, 1.164871),
 (1, 2.6302164),
 (3, 1.7542337),
 (0, 0.9793322),
 (0, -0.056696013),
 (0, 2.5491812),
 (0, -0.27154076),
 (0, 2.6822193),
 (6, 2.716701),
 (3, 6.13773),
 (0, -0.58087105),
 (4, 5.0762706),
 (4, 3.2909007),
 (0, 1.041674),
 (0, -0.74259907),
 (0, 2.1524053),
 (0, -0.7882489),
 (0, 0.42186427),
 (2, 2.3902347),
 (0, 0.07384247),
 (0, 0.8113464),
 (0, 0.100248106),
 (2, 2.1524053),
 (0, 1.5416225),
 (0, -0.39567244),
 (1, 2.189793),
 (0, 1.203037),
 (1, -0.025503721),
 (2, 1.5416225),
 (1, 2.637296),
 (3, 0.07289339),
 (1, 2.6822193),
 (0, 1.3554794),
 (6, 5.389723),
 (0, 1.9777932),
 (3, 2.189793),
 (0, 2.5595582),
 (0, 1.128379),
 (0, -0.24661632),
 (0, -2.0297203),
 (71, 8.771587),
 (2, 2.189793),
 (0, 1.1846093),
 (0, 3.170341),
 (2, 1.1503233),
 (7, 3.4197044),
 (13, 3.6984668),
 (17, 1.5416225),
 (0, 0.09958375),
 (0, 3.1727226),
 (2, 3.4159708),
 (2, 2.1524053),
 (0, -0.94504267),
 (1, 2.4263022),
 (10, 3.4457262),
 (1, -0.07562977),
 (0, 1.8447818),
 (0, 9.2221985),
 (0, 25.944698),
 (4, 2.47793),
 (3, 12.100518),
 (1, 0.07289339),
 (8, 2.637296),
 (1, 1.6642836),
 (0, 0.8853372),
 (1, 2.9014194),
 (1, 4.500247),
 (0, 2.4535842),
 (1, 3.2260861),
 (0, 1.6642836),
 (0, 2.782935),
 (0, 0.33460346),
 (0, 5.0762706),
 (9, 14.395163)]