In [2]:
import pandas as pd

In [35]:
tp_cols = ["siape", "nome", "formacao", "tipo_jornada_trabalho", "vinculo", "id_unidade_lotacao", "lotacao", "admissao"]

tp_df = pd.read_csv("./perfis/docentes.csv", sep=";")
tp_df = tp_df[tp_cols]

tp_df.head()

,siape,nome,formacao,tipo_jornada_trabalho,vinculo,id_unidade_lotacao,lotacao,admissao
2765,4246363,RICHARDSON LEONARDI MOURA DA CAMARA,DOUTORADO,Dedicação exclusiva,Professor Visitante,1824,INSTITUTO DE POLÍTICAS PÚBLICAS,2023/05/23 00:00:00.000000000
2766,3304576,RODOLFO LUIZ BEZERRA DE ARAÚJO MEDEIROS,DOUTORADO,Dedicação exclusiva,Professor Visitante,4885,ESCOLA DE CIÊNCIAS E TECNOLOGIA,2022/08/12 00:00:00.000000000
2767,1056188,THIAGO BRUCE RODRIGUES,DOUTORADO,Dedicação exclusiva,Professor Visitante,179,DEPARTAMENTO DE BIOLOGIA CELULAR E GENÉTICA,2022/10/03 00:00:00.000000000
2768,3330361,VASILIKI LAGOU,DOUTORADO,Dedicação exclusiva,Professor Visitante,6069,INSTITUTO METROPOLE DIGITAL,2023/02/15 00:00:00.000000000
2769,3309092,VINCENZO LA BRUNA,DOUTORADO,Dedicação exclusiva,Professor Visitante,4894,DEPARTAMENTO DE GEOFÍSICA,2022/09/06 00:00:00.000000000

In [36]:
tp_df.tail()

,siape,nome,formacao,tipo_jornada_trabalho,vinculo,id_unidade_lotacao,lotacao,admissao
2765,4246363,RICHARDSON LEONARDI MOURA DA CAMARA,DOUTORADO,Dedicação exclusiva,Professor Visitante,1824,INSTITUTO DE POLÍTICAS PÚBLICAS,2023/05/23 00:00:00.000000000
2766,3304576,RODOLFO LUIZ BEZERRA DE ARAÚJO MEDEIROS,DOUTORADO,Dedicação exclusiva,Professor Visitante,4885,ESCOLA DE CIÊNCIAS E TECNOLOGIA,2022/08/12 00:00:00.000000000
2767,1056188,THIAGO BRUCE RODRIGUES,DOUTORADO,Dedicação exclusiva,Professor Visitante,179,DEPARTAMENTO DE BIOLOGIA CELULAR E GENÉTICA,2022/10/03 00:00:00.000000000
2768,3330361,VASILIKI LAGOU,DOUTORADO,Dedicação exclusiva,Professor Visitante,6069,INSTITUTO METROPOLE DIGITAL,2023/02/15 00:00:00.000000000
2769,3309092,VINCENZO LA BRUNA,DOUTORADO,Dedicação exclusiva,Professor Visitante,4894,DEPARTAMENTO DE GEOFÍSICA,2022/09/06 00:00:00.000000000

In [32]:
tp_df.dtypes

siape                     int64
nome                     object
formacao                 object
tipo_jornada_trabalho    object
vinculo                  object
id_unidade_lotacao        int64
lotacao                  object
admissao                 object
dtype: object

In [34]:
tp_df.describe()

              siape  id_unidade_lotacao
count  2.770000e+03         2770.000000
mean   2.114588e+06         2821.146209
std    1.142222e+06         5617.495694
min    1.274600e+04            2.000000
25%    1.297595e+06          142.000000
50%    1.810985e+06          202.000000
75%    2.722937e+06         4890.000000
max    9.350807e+06        31231.000000

In [80]:
qualis = ["siape","revista_a1","revista_a2","revista_b1","revista_b2","revista_b3","revista_b4","revista_b5","revista_c","revista_sem_qualis"]

ti_df_list = []
for year in range(2010,2021):
    ti_df_y = pd.read_csv("./indicadores/indicadores-pesquisa-" + str(year) + ".csv", sep=";")
    ti_df_y = ti_df_y[qualis]
    ti_df_list.append(ti_df_y)

ti_df = pd.concat(ti_df_list)
ti_df = ti_df.groupby("siape", as_index=False).sum()
ti_df.describe()

,siape,revista_a1,revista_a2,revista_b1,revista_b2,revista_b3,revista_b4,revista_b5,revista_c,revista_sem_qualis
count,2.756000e+03,2756.000000,2756.000000,2756.000000,2756.000000,2756.000000,2756.000000,2756.000000,2756.000000,2756.0
mean,2.112227e+06,2.634978,1.933599,1.750000,1.269231,0.818215,0.568578,0.054790,0.889332,0.0
std,1.137681e+06,6.073799,3.917333,5.375914,2.891393,2.413658,1.778480,0.330389,3.855806,0.0
min,1.274600e+04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,1.296285e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
50%,1.808676e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
75%,2.721404e+06,3.000000,2.000000,2.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.0
max,9.350807e+06,71.000000,51.000000,99.000000,46.000000,41.000000,32.000000,8.000000,124.000000,0.0

In [81]:
df = tp_df.merge(ti_df, on="siape", how="inner")
df.describe(include=["object","int64"])

,siape,nome,formacao,tipo_jornada_trabalho,vinculo,id_unidade_lotacao,lotacao,admissao,revista_a1,revista_a2,revista_b1,revista_b2,revista_b3,revista_b4,revista_b5,revista_c,revista_sem_qualis
count,2.753000e+03,2753,2753,2753,2753,2753.000000,2753,2753,2753.000000,2753.000000,2753.000000,2753.000000,2753.000000,2753.000000,2753.000000,2753.000000,2753.0
unique,NaN,2750,6,3,8,NaN,135,1389,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,URSULA GABRIELA DANTAS DE MENEZES,DOUTORADO,Dedicação exclusiva,Ativo Permanente,NaN,ESCOLA AGRÍCOLA DE JUNDIAÍ,2009/01/27 00:00:00.000000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,2,2189,2156,2376,NaN,120,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,2.112948e+06,NaN,NaN,NaN,NaN,2820.365783,NaN,NaN,2.632764,1.932437,1.747548,1.269524,0.811842,0.569197,0.054849,0.889938,0.0
std,1.137877e+06,NaN,NaN,NaN,NaN,5628.034293,NaN,NaN,6.072830,3.916805,5.376438,2.892579,2.387021,1.779350,0.330564,3.857832,0.0
min,1.274600e+04,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,1.297039e+06,NaN,NaN,NaN,NaN,142.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
50%,1.808713e+06,NaN,NaN,NaN,NaN,202.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
75%,2.723704e+06,NaN,NaN,NaN,NaN,4890.000000,NaN,NaN,3.000000,2.000000,2.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.0
max,9.350807e+06,NaN,NaN,NaN,NaN,31231.000000,NaN,NaN,71.000000,51.000000,99.000000,46.000000,41.000000,32.000000,8.000000,124.000000,0.0

In [83]:
print(len(df["nome"].unique()))
name_counts = df.groupby('nome').size()

# Find teachers with repeated names (more than one occurrence)
repeated_names = name_counts[name_counts > 1].index.tolist()

# Print the list of teachers with repeated names
print(repeated_names)

2750
['GLEYDSON KLEBER LOPES DE OLIVEIRA', 'MARCEL ALVES FRANCO', 'URSULA GABRIELA DANTAS DE MENEZES']